:root{
    --dark: #0a0a23;
    --light: white;
    --yellow: #FFB73B;
    --orange: #bb7712;
    --grey: #3B3B4F;
    --size1: 1.5em;
    --size2: 3em;
}
*{
    margin: 0;
    padding: 0;
}
main{
    background-color: var(--dark);
    color: var(--light);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
}
#enter-cash{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
}
h1{
    font-size: var(--size2);
    font-family: "Inconsolata", monospace;
}
legend{
    margin-bottom: 0.5em;
}

legend, #change-due, #the-price{
    font-size: var(--size1);
    font-family: "Inconsolata", monospace;
}

#cash{
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: var(--size1);
    color: var(--light);
    border: 3px solid var(--light);
    margin: 0;
    background-color: var(--grey);
    box-sizing: border-box;
    outline:none;
    padding-block:0;
    padding-inline: 0;
    padding: 0;
   
}
#cash:focus{
    border-bottom: 2px solid var(--light);
}
#purchase-btn{
    font-family: "Reddit Sans Condensed", sans-serif;
    padding: 0;
    background-color: var(--yellow);
    color: var(--grey);
    font-weight: bold;
    font-size: var(--size1);
    border: 2px solid var(--orange);

}
#cash, #purchase-btn{
    width: 14em;
    height: 2em;
    border-radius: 4%;
}
#the-price{
    width: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
